
* {
    font-family:  'Gloria Hallelujah', cursive;;
}

#konten {
   
    display: flex;
    justify-content: center;
}


.teks {
    font-weight: bold;
    font-size:6rem;
}

.countdown-timer {
    margin:10px 30px;
    text-align: center;
    
}
.countdown-timer span {
    font-size:3rem;
}