
* {
    font-family: 'Courier New';
    
}


body {
    background-image: url('../img/fire.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}
#konten {
   
    display: flex;
    justify-content: center;
 
}

#gbr {
   
    display: flex;
    justify-content: center;
 
}

h1 {
	color: white;
}

.teks {
    font-weight: bold;
    color:white;
    font-size:6rem;
    
}
.countdown-timer {
    margin:7px 36px;
    text-align: center;
    
}
.countdown-timer span {
    font-size:3rem;
    color:white;
    font-weight: 600;
}